node_modules/
build/
.cache/
dist/
Tags.xml
cpp/build/tags.wasm.wasm
cpp/build/tags.wasm.js
public/tags.wasm
out/

.cmake/
cpp/cmake-build-debug/
cpp/cmake-build-release/

cpp/.vs/
vite.config.ts.timestamp-1723402240326-26b6ce80df0d9.mjs
vcpkg_installed/