:root {
  /* Rarity colors */
  --common-color: #5f5f5f;
  --uncommon-color: #2e93f8;
  --rare-color: #cc00ff;
  --epic-color: #ff7f00;
  --viral-color: #ff0000;

  /* Combo colors */
  --unknown-color: #ffffff;
  --cute-color: #ff83e0;
  --awesome-color: #ff0000;
  --noob-color: #22e200;
  --smart-color: #22cfcb;
  --weird-color: #ff5800;
  --wild-color: #0d8900;
  --cool-color: #5aabff;
  --aspiring-color: #00d485;
  --funny-color: #ff9a00;
  --gross-color: #b09e38;
  --naughty-color: #ff16a8;
  --creepy-color: #8e3500;
  --geeky-color: #0016ff;

  --unknown-color-tooltip: #ffffff;
}

body {
  display: flex;
  flex-wrap: wrap;
  font-family: Arial, sans-serif;
}

.tag {
  padding: 10px;
  margin: 5px;
  border-radius: 100px;
  color: white;
  cursor: pointer;
  position: relative;
  display: inline-block;
  font-family: "Roboto", sans-serif;
  font-weight: 600;
}

.tag {
  padding: 0 16px;
  height: 36px;
  font-size: 14px;
  line-height: 36px;
  border-radius: 18px;
}

.tag-tooltip {
  font-weight: 200;
  visibility: hidden;
  background-color: #2e2e2eef;
  color: white;
  text-align: left;
  border-radius: 5px;
  padding: 10px;
  position: absolute;
  z-index: 1;
  width: max-content;
  opacity: 0;
  transition: opacity 0.1s;
  line-height: 1.5;
  pointer-events: none; /* Prevents the tooltip from interfering with mouse events */
  position: fixed;
}

.tag:hover .tag-tooltip {
  visibility: visible;
  opacity: 1;
}

/* Rarity colors */
.common {
  background-color: var(--common-color);
}
.uncommon {
  background-color: var(--uncommon-color);
}
.rare {
  background-color: var(--rare-color);
}
.epic {
  background-color: var(--epic-color);
}
.viral {
  background-color: var(--viral-color);
}

/* Rarity colors */
.tag-tooltip .common {
  color: var(--common-color-tooltip);
  background-color: transparent;
}
.tag-tooltip .uncommon {
  color: var(--uncommon-color);
  background-color: transparent;
}
.tag-tooltip .rare {
  color: var(--rare-color);
  background-color: transparent;
}
.tag-tooltip .epic {
  color: var(--epic-color);
  background-color: transparent;
}
.tag-tooltip .viral {
  color: var(--viral-color);
  background-color: transparent;
}

/* Combo colors */
.UNKNOWN {
  color: var(--unknown-color);
}
.CUTE {
  color: var(--cute-color);
}
.AWESOME {
  color: var(--awesome-color);
}
.NOOB {
  color: var(--noob-color);
}
.SMART {
  color: var(--smart-color);
}
.WEIRD {
  color: var(--weird-color);
}
.WILD {
  color: var(--wild-color);
}
.COOL {
  color: var(--cool-color);
}
.ASPIRING {
  color: var(--aspiring-color);
}
.FUNNY {
  color: var(--funny-color);
}
.GROSS {
  color: var(--gross-color);
}
.NAUGHTY {
  color: var(--naughty-color);
}
.CREEPY {
  color: var(--creepy-color);
}
.GEEKY {
  color: var(--geeky-color);
}

.combo-button {
  margin: 5px;
  padding: 10px;
  cursor: pointer;
}

.combo-button.active {
  background-color: gray;
  color: white;
}

.tag.hidden {
  display: none;
}
