:root {
  /* Rarity colors */
  --common-color: #5f5f5f;
  --uncommon-color: #2e93f8;
  --rare-color: #cc00ff;
  --epic-color: #ff7f00;
  --viral-color: #ff0000;

  /* Combo colors */
  --unknown-color: #ffffff;
  --cute-color: #ff83e0;
  --awesome-color: #ff0000;
  --noob-color: #22e200;
  --smart-color: #22cfcb;
  --weird-color: #ff5800;
  --wild-color: #0d8900;
  --cool-color: #5aabff;
  --aspiring-color: #00d485;
  --funny-color: #ff9a00;
  --gross-color: #b09e38;
  --naughty-color: #ff16a8;
  --creepy-color: #8e3500;
  --geeky-color: #0016ff;

  --unknown-color-tooltip: #ffffff;
}

$rarity-colors: (
  common: var(--common-color),
  uncommon: var(--uncommon-color),
  rare: var(--rare-color),
  epic: var(--epic-color),
  viral: var(--viral-color),
);

@mixin generate-rarity-classes($map) {
  @each $key, $value in $map {
    .#{$key} {
      background-color: $value;
    }
    .tag-tooltip .#{$key} {
      color: if($key == common, var(--common-color-tooltip), $value);
      background-color: transparent;
    }
  }
}

@include generate-rarity-classes($rarity-colors);
$colors: (
  UNKNOWN: var(--unknown-color),
  CUTE: var(--cute-color),
  AWESOME: var(--awesome-color),
  NOOB: var(--noob-color),
  SMART: var(--smart-color),
  WEIRD: var(--weird-color),
  WILD: var(--wild-color),
  COOL: var(--cool-color),
  ASPIRING: var(--aspiring-color),
  FUNNY: var(--funny-color),
  GROSS: var(--gross-color),
  NAUGHTY: var(--naughty-color),
  CREEPY: var(--creepy-color),
  GEEKY: var(--geeky-color),
);

@mixin generate-classes($map) {
  @each $key, $value in $map {
    .#{$key} {
      color: $value;
    }
  }
}

@include generate-classes($colors);

.tag.alternate-colors {
  --unknown-color: #5f5f5f;
}

$tags: unknown, cute, awesome, noob, smart, weird, wild, cool, aspiring, funny,
  gross, naughty, creepy, geeky;

@each $tag1 in $tags {
  @each $tag2 in $tags {
    @if $tag1 != $tag2 {
      .tag.alternate-colors.left-#{$tag1}.right-#{$tag2} {
        background: linear-gradient(
          to right,
          var(--#{$tag1}-color) 50%,
          var(--#{$tag2}-color) 50%
        );
        display: inline-block;
      }
    } @else {
      .tag.alternate-colors.left-#{$tag1}.right-#{$tag2} {
        background-color: var(--#{$tag1}-color);
        display: inline-block;
      }
    }
  }
}

body {
  display: flex;
  flex-direction: row;
  height: 100vh;
  margin: 0;
  background-color: #332b2b;
  font-family: "Roboto", sans-serif;
  color: white;
  box-sizing: border-box;
}

.tag {
  padding: 10px;
  margin: 5px;
  border-radius: 100px;
  color: white;
  cursor: pointer;
  position: relative;
  display: inline-block;
  font-weight: 600;
}

.tag {
  padding: 0 16px;
  height: 36px;
  font-size: 14px;
  line-height: 36px;
  border-radius: 18px;
}

.tag-tooltip {
  font-weight: 200;
  background-color: #2e2e2eef;
  color: white;
  text-align: left;
  border-radius: 5px;
  padding: 10px;
  position: absolute;
  z-index: 2;
  width: max-content;
  transition: opacity 0.1s;
  line-height: 1.5;
  pointer-events: none;
  position: fixed;
  visibility: hidden;
  opacity: 0;
}

.tag:hover .tag-tooltip {
  visibility: visible !important;
  opacity: 1 !important;
}

button {
  margin: 5px;
  padding: 10px;
  cursor: pointer;
  border-radius: 100px;
  background-color: #000000;
  font-weight: 600;
  color: white;
}

.combo-button.active {
  background-color: gray;
  color: white;
}

#tags-container .tag.hidden {
  display: none;
}

#selected-tags-container .tag.hidden {
  display: none;
}

#selected-tags {
  height: 150px;
  display: flex;
  display: inline-block;
}

#selected-tags .tag {
  visibility: visible !important;
  opacity: 1 !important;
  display: inline-block !important;
}

.tag.selected {
  border: 2px solid rgb(143, 94, 143);
  animation: border-pulse 1s infinite;
  margin: 3px;
}

.tag.blocked {
  position: relative;
}

.tag.blocked::after {
  content: "✖";
  color: #ca0000;
  font-size: 55px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  z-index: 1;
  opacity: 0.5;
}
@keyframes border-pulse {
  0% {
    border-color: magenta;
  }
  50% {
    border-color: cyan;
  }
  100% {
    border-color: magenta;
  }
}

#content-container {
  display: flex;
  flex: 1;
  overflow: hidden;
}

#left-pane {
  display: flex;
  flex-direction: column;
  width: 70%;
  flex-shrink: 1;
}

#combo-buttons-container {
  height: fit-content;
  background-color: #1e1f24;
  border-bottom: 1px solid #ccc;
  padding: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

#sort-buttons-container {
  height: fit-content;
  background-color: #1e1f24;
  border-bottom: 1px solid #ccc;
  padding: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

#tags-container {
  flex: 1;
  padding: 10px;
  background-color: #1e1f24;
  overflow-y: auto;
}

#selected-tags-container {
  width: 30%;
  background-color: #1e1f24;
  border: 1px solid #ccc;
  padding: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  flex-shrink: 1;
  overflow-y: auto;
}

.combo-breakdown {
  margin-top: 10px;
}

.combo-breakdown {
  margin-top: 10px;
}
.selected-clone {
  cursor: pointer;
}

.console-output {
  font-family: "Fira Code", monospace;
  background-color: black;
  color: white;
  padding: 10px;
  border-radius: 5px;
}

.yellow-text {
  color: #dbdba9;
}

.green-text {
  color: #4bc4ac;
}

.pink-text {
  color: #d69fdd;
}
.white-text {
  color: #c8c8c8;
}

.grey-text {
  color: grey;
}

.bold-text {
  font-weight: bold;
}

.combo-entry {
  margin-left: 20px;
}

*::-webkit-scrollbar-track {
  box-shadow: none;
  border-radius: 5px;
  background-color: transparent;
}
*::-webkit-scrollbar {
  width: 12px;
  background-color: transparent;
}
*::-webkit-scrollbar-thumb {
  border-radius: 10px;
  box-shadow: none;
  background-color: #aaa;
}

#search-bar {
  margin: 5px;
  padding: 10px;
  font-size: 14px;
  border-radius: 100px;
  background-color: #000000;
  font-weight: 600;
  color: white;
}
